<div class="carousal">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/carousals/carousal_one.jpg" class="d-block w-100" alt="Fist Slide">
            </div>
            <div class="carousel-item">
                <img src="images/carousals/carousal_two.jpg" class="d-block w-100" alt="Second Slide">
            </div>
            <div class="carousel-item">
                <img src="images/carousals/carousal_three.jpg" class="d-block w-100" alt="Thord Slide">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container mt-3">
    <h4><b>Now Streaming Theatre Movies</b></h4>
</div>
<div>
    <div class="container mt-2">
        <h4><b>#Trending 1</b></h4>
    </div>

    <section>
        <div class="container">
            <div class="">
                <div class="text-center mt-3">
                    <a href="/admin/add-movies-trending-one"><button type="button" class="btn btn-danger add-products-btn">Add Movies</button></a>
                </div>
                <table class="table mt-5" id="productsTable">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Movie Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Options</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each moviesTrendingOne}}
                        <tr>
                            <td><img style="width: 100px; height: 160px;" src="/images/movies-trending-one/{{this._id}}.jpg" alt=""></td>
                            <td>{{this.Name}}</td>
                            <td>{{this.Category}}</td>
                            <td>{{this.Description}}</td>
                            <td><a href=""><button type="button" class="btn btn-primary">Edit</button></a></td>
                            <td><a href="/admin/remove-movies-trending-one/{{this._id}}"><button type="button" class="btn btn-danger"
                                        onclick="return confirm('Are you sure?')">Remove</button></a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container mt-2">
        <h4><b>#Trending 2</b></h4>
    </div>

    <section>
        <div class="container">
            <div class="">
                <div class="text-center mt-3">
                    <a href="/admin/add-movies-trending-two"><button type="button" class="btn btn-danger add-products-btn">Add Movies</button></a>
                </div>
                <table class="table mt-5" id="productsTable">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Movie Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Options</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each moviesTrendingTwo}}
                        <tr>
                            <td><img style="width: 100px; height: 160px;" src="/images/movies-trending-two/{{this._id}}.jpg" alt=""></td>
                            <td>{{this.Name}}</td>
                            <td>{{this.Category}}</td>
                            <td>{{this.Description}}</td>
                            <td><a href=""><button type="button" class="btn btn-primary">Edit</button></a></td>
                            <td><a href="/admin/remove-movies-trending-two/{{this._id}}"><button type="button" class="btn btn-danger"
                                        onclick="return confirm('Are you sure?')">Remove</button></a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container mt-2">
        <h4><b>#Trending 3</b></h4>
    </div>

    <section>
        <div class="container">
            <div class="">
                <div class="text-center mt-3">
                    <a href="/admin/add-movies-trending-three"><button type="button" class="btn btn-danger add-products-btn">Add Movies</button></a>
                </div>
                <table class="table mt-5" id="productsTable">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Movie Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Options</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each moviesTrendingThree}}
                        <tr>
                            <td><img style="width: 100px; height: 160px;" src="/images/movies-trending-three/{{this._id}}.jpg" alt=""></td>
                            <td>{{this.Name}}</td>
                            <td>{{this.Category}}</td>
                            <td>{{this.Description}}</td>
                            <td><a href=""><button type="button" class="btn btn-primary">Edit</button></a></td>
                            <td><a href="/admin/remove-movie-trending-three/{{this._id}}"><button type="button" class="btn btn-danger"
                                        onclick="return confirm('Are you sure?')">Remove</button></a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>