<div class="container seat-booking">
    <div class="seat-side-left">
        <div class="row">A &nbsp;
            <div class="seat" id="A" style="width: 30px; height:30px">1</div>
            <div class="seat" id="A" style="width: 30px; height:30px">2</div>
            <div class="seat" id="A" style="width: 30px; height:30px">3</div>
            <div class="seat" id="A" style="width: 30px; height:30px">4</div>
            <div class="seat" id="A" style="width: 30px; height:30px">5</div>
            <div class="seat" id="A" style="width: 30px; height:30px">6</div>
            <div class="seat" id="A" style="width: 30px; height:30px">7</div>
            <div class="seat" id="A" style="width: 30px; height:30px">8</div>
            <div class="seat" id="A" style="width: 30px; height:30px">9</div>
            <div class="seat" id="A" style="width: 30px; height:30px">10</div>
            <div class="seat" id="A" style="width: 30px; height:30px">11</div>
            <div class="seat" id="A" style="width: 30px; height:30px">12</div>
        </div>
        <div class="row">B &nbsp;
            <div class="seat" id="B" style="width: 30px; height:30px">1</div>
            <div class="seat" id="B" style="width: 30px; height:30px">2</div>
            <div class="seat" id="B" style="width: 30px; height:30px">3</div>
            <div class="seat" id="B" style="width: 30px; height:30px">4</div>
            <div class="seat" id="B" style="width: 30px; height:30px">5</div>
            <div class="seat" id="B" style="width: 30px; height:30px">6</div>
            <div class="seat" id="B" style="width: 30px; height:30px">7</div>
            <div class="seat" id="B" style="width: 30px; height:30px">8</div>
            <div class="seat" id="B" style="width: 30px; height:30px">9</div>
            <div class="seat" id="B" style="width: 30px; height:30px">10</div>
            <div class="seat" id="B" style="width: 30px; height:30px">11</div>
            <div class="seat" id="B" style="width: 30px; height:30px">12</div>
        </div>
        <div class="row">C &nbsp;
            <div class="seat" id="C" style="width: 30px; height:30px">1</div>
            <div class="seat" id="C" style="width: 30px; height:30px">2</div>
            <div class="seat" id="C" style="width: 30px; height:30px">3</div>
            <div class="seat" id="C" style="width: 30px; height:30px">4</div>
            <div class="seat" id="C" style="width: 30px; height:30px">5</div>
            <div class="seat" id="C" style="width: 30px; height:30px">6</div>
            <div class="seat" id="C" style="width: 30px; height:30px">7</div>
            <div class="seat" id="C" style="width: 30px; height:30px">8</div>
            <div class="seat" id="C" style="width: 30px; height:30px">9</div>
            <div class="seat" id="C" style="width: 30px; height:30px">10</div>
            <div class="seat" id="C" style="width: 30px; height:30px">11</div>
            <div class="seat" id="C" style="width: 30px; height:30px">12</div>
        </div>
        <div class="row">D &nbsp;
            <div class="seat" id="D" style="width: 30px; height:30px">1</div>
            <div class="seat" id="D" style="width: 30px; height:30px">2</div>
            <div class="seat" id="D" style="width: 30px; height:30px">3</div>
            <div class="seat" id="D" style="width: 30px; height:30px">4</div>
            <div class="seat" id="D" style="width: 30px; height:30px">5</div>
            <div class="seat" id="D" style="width: 30px; height:30px">6</div>
            <div class="seat" id="D" style="width: 30px; height:30px">7</div>
            <div class="seat" id="D" style="width: 30px; height:30px">8</div>
            <div class="seat" id="D" style="width: 30px; height:30px">9</div>
            <div class="seat" id="D" style="width: 30px; height:30px">10</div>
            <div class="seat" id="D" style="width: 30px; height:30px">11</div>
            <div class="seat" id="D" style="width: 30px; height:30px">12</div>
        </div>
        <div class="row">E &nbsp;
            <div class="seat" id="E" style="width: 30px; height:30px">1</div>
            <div class="seat" id="E" style="width: 30px; height:30px">2</div>
            <div class="seat" id="E" style="width: 30px; height:30px">3</div>
            <div class="seat" id="E" style="width: 30px; height:30px">4</div>
            <div class="seat" id="E" style="width: 30px; height:30px">5</div>
            <div class="seat" id="E" style="width: 30px; height:30px">6</div>
            <div class="seat" id="E" style="width: 30px; height:30px">7</div>
            <div class="seat" id="E" style="width: 30px; height:30px">8</div>
            <div class="seat" id="E" style="width: 30px; height:30px">9</div>
            <div class="seat" id="E" style="width: 30px; height:30px">10</div>
            <div class="seat" id="E" style="width: 30px; height:30px">11</div>
            <div class="seat" id="E" style="width: 30px; height:30px">12</div>
        </div>
        <div class="row">F &nbsp;
            <div class="seat" id="F" style="width: 30px; height:30px">1</div>
            <div class="seat" id="F" style="width: 30px; height:30px">2</div>
            <div class="seat" id="F" style="width: 30px; height:30px">3</div>
            <div class="seat" id="F" style="width: 30px; height:30px">4</div>
            <div class="seat" id="F" style="width: 30px; height:30px">5</div>
            <div class="seat" id="F" style="width: 30px; height:30px">6</div>
            <div class="seat" id="F" style="width: 30px; height:30px">7</div>
            <div class="seat" id="F" style="width: 30px; height:30px">8</div>
            <div class="seat" id="F" style="width: 30px; height:30px">9</div>
            <div class="seat" id="F" style="width: 30px; height:30px">10</div>
            <div class="seat" id="F" style="width: 30px; height:30px">11</div>
            <div class="seat" id="F" style="width: 30px; height:30px">12</div>
        </div>
        <div class="row">G &nbsp;
            <div class="seat" id="G" style="width: 30px; height:30px">1</div>
            <div class="seat" id="G" style="width: 30px; height:30px">2</div>
            <div class="seat" id="G" style="width: 30px; height:30px">3</div>
            <div class="seat" id="G" style="width: 30px; height:30px">4</div>
            <div class="seat" id="G" style="width: 30px; height:30px">5</div>
            <div class="seat" id="G" style="width: 30px; height:30px">6</div>
            <div class="seat" id="G" style="width: 30px; height:30px">7</div>
            <div class="seat" id="G" style="width: 30px; height:30px">8</div>
            <div class="seat" id="G" style="width: 30px; height:30px">9</div>
            <div class="seat" id="G" style="width: 30px; height:30px">10</div>
            <div class="seat" id="G" style="width: 30px; height:30px">11</div>
            <div class="seat" id="G" style="width: 30px; height:30px">12</div>
        </div>

    </div>

    <div class="seat-side-right">
        <div class="row" id="right">
            <div class="seat" id="A" style="width: 30px; height:30px">13</div>
            <div class="seat" id="A" style="width: 30px; height:30px">14</div>
            <div class="seat" id="A" style="width: 30px; height:30px">15</div>
            <div class="seat" id="A" style="width: 30px; height:30px">16</div>
            <div class="seat" id="A" style="width: 30px; height:30px">17</div>
            <div class="seat" id="A" style="width: 30px; height:30px">18</div>
            <div class="seat" id="A" style="width: 30px; height:30px">19</div>
            <div class="seat" id="A" style="width: 30px; height:30px">20</div>
            <div class="seat" id="A" style="width: 30px; height:30px">21</div>
            <div class="seat" id="A" style="width: 30px; height:30px">22</div>
            <div class="seat" id="A" style="width: 30px; height:30px">23</div>
            <div class="seat" id="A" style="width: 30px; height:30px">24</div>
        </div>
        <div class="row" id="right">
            <div class="seat" id="B" style="width: 30px; height:30px">13</div>
            <div class="seat" id="B" style="width: 30px; height:30px">14</div>
            <div class="seat" id="B" style="width: 30px; height:30px">15</div>
            <div class="seat" id="B" style="width: 30px; height:30px">16</div>
            <div class="seat" id="B" style="width: 30px; height:30px">17</div>
            <div class="seat" id="B" style="width: 30px; height:30px">18</div>
            <div class="seat" id="B" style="width: 30px; height:30px">19</div>
            <div class="seat" id="B" style="width: 30px; height:30px">20</div>
            <div class="seat" id="B" style="width: 30px; height:30px">21</div>
            <div class="seat" id="B" style="width: 30px; height:30px">22</div>
            <div class="seat" id="B" style="width: 30px; height:30px">23</div>
            <div class="seat" id="B" style="width: 30px; height:30px">24</div>
        </div>
        <div class="row" id="right">
            <div class="seat" id="C" style="width: 30px; height:30px">13</div>
            <div class="seat" id="C" style="width: 30px; height:30px">14</div>
            <div class="seat" id="C" style="width: 30px; height:30px">15</div>
            <div class="seat" id="C" style="width: 30px; height:30px">16</div>
            <div class="seat" id="C" style="width: 30px; height:30px">17</div>
            <div class="seat" id="C" style="width: 30px; height:30px">18</div>
            <div class="seat" id="C" style="width: 30px; height:30px">19</div>
            <div class="seat" id="C" style="width: 30px; height:30px">20</div>
            <div class="seat" id="C" style="width: 30px; height:30px">21</div>
            <div class="seat" id="C" style="width: 30px; height:30px">22</div>
            <div class="seat" id="C" style="width: 30px; height:30px">23</div>
            <div class="seat" id="C" style="width: 30px; height:30px">24</div>
        </div>
        <div class="row" id="right">
            <div class="seat" id="D" style="width: 30px; height:30px">13</div>
            <div class="seat" id="D" style="width: 30px; height:30px">14</div>
            <div class="seat" id="D" style="width: 30px; height:30px">15</div>
            <div class="seat" id="D" style="width: 30px; height:30px">16</div>
            <div class="seat" id="D" style="width: 30px; height:30px">17</div>
            <div class="seat" id="D" style="width: 30px; height:30px">18</div>
            <div class="seat" id="D" style="width: 30px; height:30px">19</div>
            <div class="seat" id="D" style="width: 30px; height:30px">20</div>
            <div class="seat" id="D" style="width: 30px; height:30px">21</div>
            <div class="seat" id="D" style="width: 30px; height:30px">22</div>
            <div class="seat" id="D" style="width: 30px; height:30px">23</div>
            <div class="seat" id="D" style="width: 30px; height:30px">24</div>
        </div>
        <div class="row" id="right">
            <div class="seat" id="E" style="width: 30px; height:30px">13</div>
            <div class="seat" id="E" style="width: 30px; height:30px">14</div>
            <div class="seat" id="E" style="width: 30px; height:30px">15</div>
            <div class="seat" id="E" style="width: 30px; height:30px">16</div>
            <div class="seat" id="E" style="width: 30px; height:30px">17</div>
            <div class="seat" id="E" style="width: 30px; height:30px">18</div>
            <div class="seat" id="E" style="width: 30px; height:30px">19</div>
            <div class="seat" id="E" style="width: 30px; height:30px">20</div>
            <div class="seat" id="E" style="width: 30px; height:30px">21</div>
            <div class="seat" id="E" style="width: 30px; height:30px">22</div>
            <div class="seat" id="E" style="width: 30px; height:30px">23</div>
            <div class="seat" id="E" style="width: 30px; height:30px">24</div>
        </div>
        <div class="row" id="right">
            <div class="seat" id="F" style="width: 30px; height:30px">13</div>
            <div class="seat" id="F" style="width: 30px; height:30px">14</div>
            <div class="seat" id="F" style="width: 30px; height:30px">15</div>
            <div class="seat" id="F" style="width: 30px; height:30px">16</div>
            <div class="seat" id="F" style="width: 30px; height:30px">17</div>
            <div class="seat" id="F" style="width: 30px; height:30px">18</div>
            <div class="seat" id="F" style="width: 30px; height:30px">19</div>
            <div class="seat" id="F" style="width: 30px; height:30px">20</div>
            <div class="seat" id="F" style="width: 30px; height:30px">21</div>
            <div class="seat" id="F" style="width: 30px; height:30px">22</div>
            <div class="seat" id="F" style="width: 30px; height:30px">23</div>
            <div class="seat" id="F" style="width: 30px; height:30px">24</div>
        </div>
        <div class="row" id="right">
            <div class="seat" id="G" style="width: 30px; height:30px">13</div>
            <div class="seat" id="G" style="width: 30px; height:30px">14</div>
            <div class="seat" id="G" style="width: 30px; height:30px">15</div>
            <div class="seat" id="G" style="width: 30px; height:30px">16</div>
            <div class="seat" id="G" style="width: 30px; height:30px">17</div>
            <div class="seat" id="G" style="width: 30px; height:30px">18</div>
            <div class="seat" id="G" style="width: 30px; height:30px">19</div>
            <div class="seat" id="G" style="width: 30px; height:30px">20</div>
            <div class="seat" id="G" style="width: 30px; height:30px">21</div>
            <div class="seat" id="G" style="width: 30px; height:30px">22</div>
            <div class="seat" id="G" style="width: 30px; height:30px">23</div>
            <div class="seat" id="G" style="width: 30px; height:30px">24</div>
        </div>

    </div>
    <div class="screen-container">
        <div class="screen container">
            All Eyes Are Here!
        </div>
    </div>


</div>
<div class="text-center">
    <a href="">
        <button type="submit" id="booknow" class="btn btn-danger mt-3 mb-3" onclick="getBookingSeatNumbers()">
            Pay Amount
        </button>
    </a>

</div>

{{#each blockedSeats}}
{{#each this}}
<li class="blockeddata" data-number="{{number}}" data-row="{{row}}">Number: {{number}}, Row: {{row}}</li>
{{/each}}
{{/each}}

<script>
    const seats = document.querySelectorAll('.seat');
    const maxSeatBookingLimit = 7;
    const amountPerSeat = 120;
    const date= new Date();

    const listOfBlockedSeats = [];
    const blockedDataElements = document.querySelectorAll('.blockeddata');

    blockedDataElements.forEach(element => {
        const number = element.getAttribute('data-number');
        const row = element.getAttribute('data-row');
        listOfBlockedSeats.push({ number, row });
    });

    console.log(listOfBlockedSeats);




    listOfBlockedSeats.forEach(seat => {
        const seatNumber = seat.number;
        const seatRow = seat.row;

        // Select all seat elements with the matching row in their id
        const seatElements = document.querySelectorAll(`.seat[id="${seatRow}"]`);

        // Iterate through the selected seat elements and compare the seat number
        seatElements.forEach(seatElement => {
            if (seatElement.textContent === seatNumber) {
                seatElement.classList.add('blocked');
            }
        });
    });


    // Function to calculate the total amount

    function totalAmount() {
        const selectedSeats = document.querySelectorAll('.seat.selected');
        const selectedSeatCount = selectedSeats.length;
        const total = amountPerSeat * selectedSeatCount;

        // Display the total amount in the "Pay Amount" button
        const bookNowButton = document.getElementById("booknow");
        bookNowButton.textContent = `Pay : Rs. ${total}`;

        return total;
    }

    // Function to check the seats and enable/disable the button

    function updateBookNowButton() {
        let atLeastOneSeatSelected = false;

        // Recalculate selectedSeatCount within this function
        const selectedSeats = document.querySelectorAll('.seat.selected');
        const selectedSeatCount = selectedSeats.length;

        // Calculate the total amount and update the displayed total
        const total = totalAmount();
        console.log('Total Amount: Rs.' + total);


        if (selectedSeatCount > maxSeatBookingLimit) {
            alert("You reached the maximum number of seats!");
        } else {
            seats.forEach(seat => {
                if (seat.classList.contains('selected')) {
                    atLeastOneSeatSelected = true;
                    return;
                }
            });
        }

        const bookNowButton = document.getElementById("booknow");
        // Enable or disable the "Book Now" button based on whether at least one seat is selected
        bookNowButton.disabled = !atLeastOneSeatSelected;
    }

    // Add event listeners to each seat element
    seats.forEach(seat => {
        seat.addEventListener('click', () => {
            seat.classList.toggle('selected');
            updateBookNowButton();
        });
    });

    // Initially, disable the "Book Now" button since no seat is selected
    updateBookNowButton();

    const seatNumbers = [];

    function getBookingSeatNumbers() {
        const selectedSeats = document.querySelectorAll('.seat.selected');

        selectedSeats.forEach(seat => {
            const seatNumber = seat.textContent; // Get the seat number (the text content of the seat div)
            const seatId = seat.id; // Get the seat's id attribute

            seatNumbers.push({ number: seatNumber, row: seatId });
        });

        console.log(seatNumbers); // Log the collected seat numbers

        // Include movieId along with seatNumbers in the request body
        const requestData = {
            movieId: "{{movie_id}}",
            seatNumbers: seatNumbers,
        };

        // Make the fetch request with the updated request body
        fetch('/seat-booking-info', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(requestData),
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server, if any
                console.log(data);
            })
            .catch(err => {
                // Handle any errors that occur during the request
                console.log(err);
            });
    }



    function placeOrder() {
        // Get the total amount
        const total = totalAmount();

        // Get the user ID and movie ID from your template
        const userId = "{{user._id}}";
        const movieId = "{{movie_id}}";

        // Collect the selected seat numbers
        const selectedSeats = document.querySelectorAll('.seat.selected');
        const seatNumbers = [];

        selectedSeats.forEach(seat => {
            const seatNumber = seat.textContent; // Get the seat number (the text content of the seat div)
            const seatId = seat.id; // Get the seat's id attribute
            seatNumbers.push({ number: seatNumber, row: seatId });
        });

        // Create the request data
        const requestData = {
            total: total,
            userId: userId,
            movieId: movieId,
            date: date,
            status: 'pending',
            seatNumbers: seatNumbers,
            
            
        };

        // Make the fetch request to place the order
        fetch('/place-order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(requestData),
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server, if any
                while(data){
                    razorpayPayment(response)
                }
            })
            .catch(err => {
                // Handle any errors that occur during the request
                console.log(err);
            });
    }
    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_uA5ewq63QE8rD8", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Shopping Cart", //your business name
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                //alert(response.razorpay_payment_id)
                //alert(response.razorpay_order_id)
                //alert(response.razorpay_signature)

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success:(response)=>{
                if(response.status){
                    location.href = '/place-order'
                }else{
                    alert('Payment Failed')
                }
            }
        })

    }

    // Add an event listener to the "Book Now" button to place the order when clicked
    const bookNowButton = document.getElementById("booknow");
    bookNowButton.addEventListener('click', placeOrder);


</script>